/******  HEADER  ******/

#navigation{
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #2a2a2b;
  background-color: #2a2a2b;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 70px;
  top: 0;
  padding-right: 5px;
  padding-left: 5px;
}


#navigation h1{
  color: white;
}

#navigation button{
  background-color: transparent;
  border: none;
  align-self: center;
}

#navigation button:hover{
  cursor: pointer;
}

#navigation button:focus{
  outline: none !important;
}

