.hero {
	h1 {

	}
	h2 {

	}
	p {
		max-width: 600px;
		margin: 0 auto 50px auto;
		font-size: 22px;
		text-align: center;
	}
	ol li {
		text-align: center;
		width: 100%;
		position: relative;
		line-height: 25px;
	}

	&__content {

	}
}