html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $red;
  color: $white;
}

.navbar {
  position: absolute !important;
  width: 100%;
  background-color: transparent;
  display: none;
}
#root {
  height: 100%;
}
.page-wrapper {
  // margin-top: 40px;
  min-height: 100%;
  .container {
    height: 100%;
  }
  &__inner {
    display: flex;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
    // padding-top: 80px;
  }
}


/**
 * Setup section
 */
 .setup-section {
  padding: 20px 0;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main {
  padding-bottom: 30px;
}

input[type="text"],
input[type="number"] {
  margin: 10px 0;
}



/*   */
.get-ready {
  img {
   width: auto;
   height: calc(100vh - 230px);
   margin: 20px auto;
 }
}

.get-ready,
.winner-content {
  text-align: center;
  width: 100%;
}

.winner-content {

}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.winner-loading {
  img {
        min-height: calc(100vh - 130px);
    margin-top: 20px;
  }
}



.winner-columns {
  display: flex;
  .h1-wrapper {
    h1 {
      // text-align: left;
    }
  }
  .winner-left {
width: 50%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .winner-gif {
    width: 50%;
    opacity: 0;
    animation: fadeIn 0.5s linear 2s;
    animation-fill-mode: forwards;
    min-height: 30px;
    .winner-footer {
      animation: fadeIn 0.5s linear 4s;
      animation-fill-mode: forwards;
    }
    img {
      width: 100%;
    }
  }
}




