html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: $red;
	color: $white;
}

.navbar {
	position: absolute !important;
	width: 100%;
	background-color: transparent;
	display: none;
}

#root {
	height: 100%;
}

.page-wrapper {
	min-height: 100%;
	.container {
		height: 100%;
	}
	&__inner {
		display: flex;
		align-items: center;
		min-height: 100%;
		min-height: 100vh;
	}
}


/**
* Setup section
*/
.setup-section {
	padding: 20px 0;
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	&--counter {
		min-height: initial;
	}
}

.main {
	padding-bottom: 30px;
	width: 100%;
}

input[type="text"],
input[type="number"] {
	margin: 10px 0;
}



.get-ready {
	img {
		width: auto;
		height: calc(100vh - 230px);
		margin: 20px auto;
	}
}

.get-ready,
.winner-content {
	text-align: center;
	width: 100%;
}

.winner-content {}




@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/**
* Review page
*/
.setup-section--review {
	p {
		opacity: 0;
		transform: translateY(15px);

		&.players {
			transform: none;
			opacity: 1;
			margin-top: 30px;
		}

		&.bonus {
			opacity: 0;
			animation: fadeInUp 0.3s linear 2s;
			animation-fill-mode: forwards;
		}

		&.jab {
			opacity: 0;
			animation: fadeInUp 0.3s linear 3.5s;
			animation-fill-mode: forwards;
		}
	}

	label {
		opacity: 0;
		animation: fadeInUp 0.3s linear 5s;
		animation-fill-mode: forwards;
	}

	.cta-row {
		opacity: 0;
		animation: fadeInUp 0.3s linear 6.5s;
		animation-fill-mode: forwards;
	}
}



.winner-loading {
	img {
		min-height: calc(100vh - 130px);
		margin-top: 20px;
	}
}



.winner-columns {
	display: flex;
	height: 100%;

	.h1-wrapper {
		h1 {
			font-size: 100px;
		}
	}

	.winner-left {
		width: 50%;
		min-height: 30px;
		display: flex;
		min-height: 100vh;

	}

	.winner-column-inner {
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		height: 100%;
		min-height: 100vh;
		display: flex;
	}

	.winner-gif {
		width: 50%;
		opacity: 0;
		animation: fadeIn 0.2s linear 1.5s;
		animation-fill-mode: forwards;
		min-height: 30px;
		height: 100%;
		height: 100vh;

		.winner-column-inner {
			align-items: center;

			h3 {
				color: green;
				font-size: 40px;
				margin: 20px 0;
				text-shadow: 2px 2px 2px white;
			}
		}

		.winner-footer {
			opacity: 0;
			animation: fadeIn 0.5s linear 4s;
			animation-fill-mode: forwards;
		}

		img {
			width: 100%;
			box-shadow: 3px 4px 28px 18px rgba(255, 255, 255, 0.6705882352941176);
		}
	}
}

.all-done-footer {
}



.all-done {
	&__jab {
		opacity: 0;
		transform: translateY(15px);
		color: $gold;
		opacity: 0;
		animation: fadeInUp 0.3s linear 2s;
		animation-fill-mode: forwards;
		font-size: 28px;
		line-height: 33px;
		animation-fill-mode: forwards;
	}
	&__footer {
		opacity: 0;
		animation: fadeIn 0.7s linear 5s;
		animation-fill-mode: forwards;
		margin-top: 30px;
	}
	&__credit {
		opacity: 0;
		animation: fadeIn 0.9s linear 8.5s;
		animation-fill-mode: forwards;
		margin-top: 30px;
	}
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}