html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $red;
  color: $white;
}

.navbar {
  position: absolute !important;
  width: 100%;
  background-color: transparent;
  display: none;
}
#root {
  height: 100%;
}
.page-wrapper {
  // margin-top: 40px;
  min-height: 100%;
  .container {
    height: 100%;
  }
  &__inner {
    display: flex;
    align-items: center;
    min-height: 100%;
    min-height: 100vh;
    // padding-top: 80px;
  }
}



input[type="text"],
input[type="number"] {
  margin: 10px 0;
}



.setup-section {
  padding: 20px 0;
  height: calc(100vh - 70px);
}
.main {
  padding-bottom: 30px;
}



.get-ready,
.winner-content {
  text-align: center;
  width: 100%;
}